.landing-wrapper {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.homelink {
  display: none !important;
  @media screen and (min-width: $tabwidth){
    display: inline-block !important;
  }
}
.s-landing {
    float: right;
}
.logo-landing {
  width: auto;
  float: left;
  a {
    max-width: 280px;
    display: block;
    img {
      max-width: 100%;
    }
  }
}
.alert {
  width: 100%;
  background-color: red;
  color: #fff;
  padding: 10px 10%;
}
.copy {
  font-size: 15px;
  font-family: Hero, serif;
  font-weight: 800;
  > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  p {
    margin: 10px 0;
  }
  strong, b, em {
    font-weight: 800;
    font-family: Hero, serif;
  }
  a {
    text-decoration: none;
    color: $color__first-light-blue;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: $color__first-dark-blue;
      visibility: hidden;
      @include transition(.3s ease all);
      -webkit-transform: scaleX(0);
      transform: scaleX(0);

    }
    &:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
    &:hover {
      color: $color__first-blue;
    }
  }
  h1, h2, h3 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  ul, ol {
    padding: 0;
    margin: 0 0 10px 10px;
    font-size: inherit;
    li {
      margin: 0 0 0 20px;
      font-size: inherit;
      padding: 0;
      list-style-type: square;
      a {
      }
      ul.sub-menu {
        margin: 0;
      }
    }
  }
  table {
    border: 1px solid grey;
    font-size: 10px;
    @media screen and (min-width: $tinywidth){
      font-size: 12px;
    }
    @media screen and (min-width: $tabwidth){
      font-size: 15px;
    }
    tr{
      td {
        padding: 2px;
        border: 1px solid grey;
        @media screen and (min-width: $tinywidth){
          padding: 5px;
        }
        @media screen and (min-width: $tabwidth){
          padding: 10px;
        }
      }
    }
  }
}

.clear {
  clear: both;
}

.clear-bottom {
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

#colophon {
  padding-bottom: 70px;
  > .row-1 {
    width: 95%;
    margin: 0 auto;
    @media screen and (min-width: $tabwidth) {
      width: 90%;
      margin: 80px auto 30px auto;
      @include flexbox;
      @include flexbox-align-content(stretch);
      @include flexbox-align-items(stretch);
      @include flexbox-justify(space-between);
      @include flexbox-wrap(nowrap);
    }
    > .column {
      margin: 20px 0;
      @include flexbox;
      @include flexbox-align-content(flex-start);
      @include flexbox-align-items(flex-start);
      @include flexbox-justify(center);
      @include flexbox-wrap(nowrap);
      @include flexbox-direction(column);
      @media screen and (min-width: $tabwidth) {
        width: 30%;
      }
      &:first-child {
        margin: 60px 0 20px 0;
      }
      @media screen and (min-width: $tabwidth) {
        margin: 0;
        &:first-child {
          margin: 0;
        }
      }
      > .title {
        background-color: $color__first-dark-blue;
        @include flexbox-flex(0, 1, auto);
        width: 100%;
        a {
          display: block;
          text-decoration: none;
        }
        h2 {
          margin: 0;
          text-align: center;
          color: white;
          text-transform: uppercase;
          font-family: DIN, serif;
        }
      }
      > .list {
        @include flexbox-flex(1, 1, auto);
        width: 100%;
        border-left: 1px solid $color__first-grey;
        border-right: 1px solid $color__first-grey;
        border-bottom: 1px solid $color__first-grey;
        padding: 20px 10px 70px 10px;
        ul.resources {
          margin: 0;
          padding: 0 20px 0 35px;
          li.resource {
            margin-bottom: 5px;
            &:last-child {
              margin: 0;
            }
            a {
              text-decoration: none;
              font-size: 14px;
              text-transform: uppercase;
              font-weight: 800;
              font-family: Elkwood, serif;
              letter-spacing: 2px;
              color: $color__text-main;
              @media screen and (min-width: $deskwidth) {
                font-size: 20px;
              }
            }
          }
        }
        ul.gives {
          padding: 0 20px;
          margin: 0;
          li.give {
            margin-bottom: 15px;
            list-style-type: none;
            &:last-child {
              margin: 0;
            }
            a {
              text-decoration: none;
              font-size: 14px;
              text-transform: uppercase;
              font-weight: 800;
              color: $color__text-main;
              font-family: Elkwood, serif;
              letter-spacing: 2px;
              @media screen and (min-width: $deskwidth) {
                font-size: 20px;
              }
            }
          }
        }
        .event {
          margin: 0 0 20px 0;
          &:last-child {
            margin: 0;
          }
          a {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 800;
            color: $color__text-main;
            text-decoration: none;
            @media screen and (min-width: $deskwidth) {
              font-size: 14px;
            }
            > .column-1 {
              float: left;
              width: 40px;
              font-family: Elkwood, serif;
              letter-spacing: 2px;
              @media screen and (min-width: $deskwidth) {
                width: 70px;
              }
              > .row-1 {
                background-color: $color__first-blue;
                color: white;
                text-align: center;
                font-size: 12px;
                @media screen and (min-width: $deskwidth) {
                  font-size: 20px;
                }
              }
              > .row-2 {
                background-color: $color__first-dark-blue;
                color: white;
                text-align: center;
                font-size: 12px;
                @media screen and (min-width: $deskwidth) {
                  font-size: 20px;
                }

              }
            }
            > .column-2 {
              float: left;
              width: calc(100% - 40px);
              padding-left: 5px;
              font-family: Elkwood, serif;
              letter-spacing: 2px;
              font-size: 14px;
              position: relative;
              @media screen and (min-width: $deskwidth) {
                width: calc(100% - 70px);
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
  > .row-2 {
    width: 95%;
    margin: 0 auto;
    @media screen and (min-width: $tabwidth) {
      width: 90%;
      @include flexbox;
      @include flexbox-align-content(flex-end);
      @include flexbox-align-items(flex-end);
      @include flexbox-justify(space-between);
      @include flexbox-wrap(nowrap);
    }
    > .column-1 {
      @media screen and (min-width: $tabwidth) {
        @include flexbox;
        @include flexbox-align-content(flex-end);
        @include flexbox-align-items(flex-end);
        @include flexbox-justify(center);
        @include flexbox-wrap(nowrap);
      }
      > .column-1 {
        margin: 20px 0;
        @media screen and (min-width: $tabwidth) {
          width: 156px;
          margin: 0;
        }
        iframe {
          width: 100%;
        }
      }
      > .column-2 {
        margin: 20px 0;
        text-align: center;
        color: $color__first-blue;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 800;
        font-family: Elkwood, serif;
        letter-spacing: 2px;
        @media screen and (min-width: $tabwidth) {
          padding: 0 0 0 20px;
          text-align: left;
          margin: 0;
        }
      }
    }
    > .column-2 {
      text-align: center;
      margin: 20px 0 0 0;
      @media screen and (min-width: $tabwidth) {
        margin: 0;
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          margin: 0;
          padding: 0;
          list-style-type: none;
          text-align: center;
          display: inline-block;
          width: 40px;
          height: 40px;
          border-radius: 20px;
          font-size: 22px;
          background-color: $color__first-blue;
          a {
            color: white;
            padding: 9px;
            line-height: 1;
            display: block;
            text-decoration: none;
          }
        }
      }
    }
  }
  >.row-3 {
    width: 95%;
    margin: 0 auto;
    @media screen and (min-width: $tabwidth) {
      width: 90%;
    }
    ul {
      margin: 0;
      padding: 0;
      text-align: center;
      @media screen and (min-width: $tabwidth) {
        text-align: left;
      }
      li {
        display: inline-block;
        &:first-child {
          a {
            &:before {
              display: none;
            }
          }
        }
        a {
          &:before {
              content: "|";
              display: inline-block;
              margin: 0 5px 0 2px;
              color: $color__first-blue;
          }
          color: $color__first-blue;
          text-decoration: none;
          font-size: 14px;
          font-family: Elkwood, serif;
          &:hover {
            color: $color__first-light-blue;
          }
        }
      }
    }
  }
}
.resource-link {
  width: 100%;
  margin: 20px 0 0 0;
  font: {
    family: Hero, serif;
    size: 15px;
  }
  a {
    width: 100%;
    padding: 15px 0;
    color: #fff;
    text-decoration: none;
    background-color: rgba($color__first-dark-blue,1);
    display: block;
    text-align: center;
    @include transition(all ease .3s);
    &:hover {
      background-color: rgba($color__first-blue,1);
    }
  }
}
#masthead {
  > .wrapper {
    > .row-1 {
      width: 95%;
      margin: 0 auto 10px auto;
      text-align: center;
      @media screen and (min-width: $tabwidth) {
        width: 90%;
        margin: 0 auto;
      }
      .new {
        display: inline-block;
        margin: 0 20px 0 0;
        background-color: $color__first-blue;
        width: 110px;
        text-align: center;
        @media screen and (min-width: $tabwidth) {
          float: left;
          width: auto;
        }
        a {
          display: block;
          color: white;
          padding: 5px;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 14px;
          font-family: Elkwood, serif;
          letter-spacing: 2px;
          @media screen and (min-width: $tabwidth) {
            font-size: 16px;
            padding: 10px;
          }
        }
      }
      .week {
        display: inline-block;
        background-color: $color__first-blue;
        width: 110px;
        text-align: center;
        @media screen and (min-width: $tabwidth) {
          float: right;
          width: auto;
        }
        a {
          display: block;
          color: white;
          padding: 5px;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 14px;
          font-family: Elkwood, serif;
          letter-spacing: 2px;
          @media screen and (min-width: $tabwidth) {
            font-size: 16px;
            padding: 10px;
          }
        }
      }
      .search-bar {
        @media screen and (min-width: $midwidth) {
          float: right;
        }
        .clear-bottom {
          @media screen and (min-width: $midwidth) {
            display: none;
          }
        }
        &.toggled {
          >.wrapper {
            .search-form {
              display: block;
            }
          }
        }
        >.wrapper {
          display: table;
          margin: 0 auto;
          @media screen and (min-width: $midwidth) {
            margin: 0;
            display: block;
          }
          .search-form {
            float: right;
            display: none;
            margin: 10px 0 0 20px;
            form {
              margin: 0;
              input {
                line-height: 1.2;
                font-size: 16px;
                padding: 5px;
                border: 1px solid $color__first-blue;
                &:-ms-input-placeholder {
                  color: $color__first-blue;
                }
                &:-moz-placeholder {
                  color: $color__first-blue;
                }
                &::-moz-placeholder {
                  color: $color__first-blue;
                }
                &::placeholder {
                  color: $color__first-blue;
                }
                &:-webkit-input-placeholder {
                  color: $color__first-blue;
                }
              }
              input[type=search]{
                width: 120px;
                color: $color__first-blue;
                @media screen and (min-width: $tabwidth) {
                  width: 200px;
                }
              }
              input[type=submit]{
                line-height: 1.2;
                font-size: 16px;
                padding: 5px;
                border: 1px solid $color__first-blue;
                background-color: $color__first-blue;
                color: white;
                text-shadow: none;
                box-shadow: none;
              }
            }
          }
          .fa-search {
            float: right;
            display: block;
            color: $color__first-blue;
            margin: 15px 20px 0 10px;
          }
        }
      }
    }
    > .row-2 {
      width: 95%;
      margin: 0 auto;
      text-align: center;
      @media screen and (min-width: $tabwidth) {
        width: 90%;
      }
      a {
        margin: 0 0 10px 0;
        display: inline-block;
        width: 50%;
        @media screen and (min-width: $tabwidth) {
          width: 15%;
          margin: 20px 0 30px 0;
        }
        @media screen and (min-width: $deskwidth) {
          width: 10%;
        }
        img {
          display: block;
          width: 100%;
        }
      }
    }
    > .row-3 {
      > .wrapper {
        width: 95%;
        margin: 10px auto;
        @media screen and (min-width: $tabwidth) {
          width: 90%;
        }
        > button {
          display: block;
          margin: 0 auto 20px auto;
          box-shadow: none;
          text-shadow: none;
          background-color: $color__first-blue;
          color: white;
          font-size: 18px;
          padding: 10px;
          @media screen and (min-width: $tabwidth) {
            display: none;
          }
        }
        ul#primary-menu {
          margin: 0;
          padding: 0;
          text-align: center;
          display: none;
          &.toggled {
            display: block;
          }
          @media screen and (min-width: $tabwidth) {
            display: block;
          }
          li {
            text-align: center;
            list-style-type: none;
            @media screen and (min-width: $tabwidth) {
              display: inline-block;
            }
            &:first-child {
              a {
                &:before {
                  display: none;
                }
              }
            }
            a {
              &:before {
                display: none;
                @media screen and (min-width: $tabwidth) {
                  content: "|";
                  display: inline-block;
                  transform: rotate(25deg);
                  color: $color__first-blue;
                  margin: 0 20px;
                  font-size: 35px;
                  line-height: 1;
                }
              }
              color: $color__first-grey;
              text-decoration: none;
              font-size: 25px;
              text-transform: uppercase;
              font-family: Elkwood, serif;
              letter-spacing: 1px;
              &:hover, &.active {
                color: $color__first-blue;
              }
            }
          }
        }
      }
    }
  }
}
#hamburger {
  position: fixed;
  top: 0;
  right:0;
  text-align: center;
  z-index: 4;
  display: none;
  overflow-y: auto;
  &.toggled {
    height: calc(100vh - 70px);
    text-align: left;
    >.wrapper {
      padding: 10px;
      > i {
      }
      >.menu.copy {
        display: block;
      }
    }
  }
  >.wrapper {
    background-color: white;
    padding: 10px 10px 0 0;
    > i {
      cursor: pointer;
      height: 40px;
      width: 40px;
      padding: 10px;
      display: block;
      font-size: 20px;
      color: $color__first-dark-blue;
    }
    .menu.copy {
      background-color: $color__first-blue;
      max-width: 80vw;
      display: none;
      padding: 30px 30px 30px 10px;
      a {
        color: white;
        &:hover {
          color: white;
        }
      }
    }
  }
}
#colorbox.staff-popup {
  .staff-popup {
    background-color: white;
    >.row-1 {
      width: 95%;
      margin: 0 auto;
      padding: 50px 0 5% 0;
      @media screen and (min-width: $tabwidth) {
        width: 90%;
        padding: 5% 0;
      }
      >.column-1 {
        width: 100%;
        @media screen and (min-width: $tabwidth) {
          width: 30%;
          float: left;
        }

      }
      >.column-2 {
        width: 100%;
        @media screen and (min-width: $tabwidth) {
          width: 65%;
          margin: 0 0 0 5%;
          float: left;
        }
        >.row-1 {
          >.row-1 {
            h1 {
              margin: 0;
            }
            .p-title {
              font-family: Elkwood, serif;
              font-size: 18px;
            }
          }
          >.row-2 {
            .phone {
              float: left;
              a {
                color: $color__first-blue;
                text-decoration: none;
                font-family: Hero, serif;
                font-size: 18px;
                line-height: 1;
                &:hover {
                  color: $color__first-light-blue;
                }
              }
            }
            .email {
              float: left;
              margin: 0 0 0 10px;
              a {
                color: $color__first-blue;
                text-decoration: none;
                &:hover {
                  color: $color__first-light-blue;
                }
              }
            }
          }
        }
        >.row-2 {
          .copy {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
.more-btn {
  margin: 30px 0 0 0;
  padding-bottom: 10px;
  text-align: right;
  a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: $color__first-blue;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Elkwood, serif;
    font-size: 25px;
    line-height: 1;
    letter-spacing: 4px;
    text-align: center;
  }
}
.faqrow {
  width: 100%;
  overflow: hidden;
  margin: 0 0 10px 0; 
  background-color: rgba(255,255,255,.05);
  border-radius: 0px;
}
.question {
  width: 100%;
  float:left;
  margin: 0px;
background-color: #eee;
  // font-weight: bold;
  font-size: 20px;
  cursor:pointer; 
  line-height: 1.3;
  position: relative;
  padding: 10px 55px 10px 10px;
}
.question-image {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 10px;
  background-image: url(images/faq.png);
  background-repeat: no-repeat;
  background-position: 0 0; 
}
.question-image.close {
  background-position: -15px 0; 
}
.answer {
  width: auto;
  float:left;
  margin: 10px;
  // font-family: 'Muli', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  padding: 0 0 0 40px;
  display:none;
}
.mobilehome {
   @media screen and (min-width: $tabwidth) {
    display: none !important;
   }
}
.biggertext {
  font-size: 17px;
}